git/gitconfig.local.symlink

# Local ZSH options. May contain passwords.
zsh/.local.zsh

# Ignore Atom folders by default unless an exception needs to be made.
atom.symlink/.apm
atom.symlink/.npm
atom.symlink/.node-gyp
atom.symlink/storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/electron
atom.symlink/nohup.out

# Ignore config folders by default unless an exception needs to be made.
config.symlink/Atom
config.symlink/dmenu-recent
config.symlink/libfm
config.symlink/qpdfview
config.symlink/volumeicon
config.symlink/autostart
config.symlink/dunst
config.symlink/menus
config.symlink/anger
config.symlink/xarchiver
config.symlink/chromium
config.symlink/gtk-2.0
config.symlink/mimeapps.list
config.symlink/xfce4
config.symlink/clipit
config.symlink/gtk-3.0
config.symlink/mimeapps-orig.list
config.symlink/Trolltech.conf
config.symlink/hexchat
config.symlink/nitrogen
config.symlink/user-dirs.dirs
config.symlink/dconf
config.symlink/htop
config.symlink/pcmanfm
config.symlink/user-dirs.locale
config.symlink/GitKraken
